Source: libpdf-imposition-perl
Section: perl
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: libmoo-perl,
 libnamespace-clean-perl,
 libpdf-api2-perl (>= 2.027),
 libpdf-cropmarks-perl (>= 0.09),
 libtry-tiny-perl,
 libtype-tiny-perl,
 libcam-pdf-perl (>= 1.58),
 poppler-utils,
 perl
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/PDF-Imposition

Package: libpdf-imposition-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libmoo-perl,
 libnamespace-clean-perl,
 libpdf-api2-perl (>= 2.027),
 libpdf-cropmarks-perl (>= 0.09),
 libtype-tiny-perl
Description: Perl module to manage the PDF imposition
 This module is meant to simplify the so-called imposition, i.e.,
 rearrange the pages of a PDF to get it ready to be printed and folded,
 with more logical pages placed on the sheet, usually (but not
 exclusively) on recto and verso.
 .
 